<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!--icon-->
    <script src="https://kit.fontawesome.com/af71dcbfc4.js" crossorigin="anonymous"></script>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <title>검색결과페이지</title>

    <script type="text/javascript">
        $(document).ready(function () {
        });

        let arr = [];
        {% for isbn in isbnlist %}
        arr.push('{{isbn}}');
        {% endfor %}
        console.log(arr);
    </script>
</head>
<body>
<h1>  의 검색결과입니다 </h1>


<div class="search-list">
    {% for item in items %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ item.image }}" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.author }}</p>
                    <a href="{{ item.link }}">자세히</a>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>


<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        {% for page in pagelist %}
        <form method="POST" action="/search_page2">
            <button type="submit" class="btn btn-secondary" value="{{page}}" name="pagenum">{{page}}</button>
        </form>
        {% endfor %}
    </div>
</div>

</body>
</html>