<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인화면</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function mylibrary() {
            window.location.href = '/mylibrary'
        }
    </script>
</head>
<body>
<div class="profile">
    <h2>{{user}}님의 블로그</h2>
</div>
<div class="button">
    <button onclick="mylibrary()">내 서재</button>
    <button>둘러보기</button>
    <button>목표달성하기</button>
</div>
</body>
</html>