<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!--icon-->
    <script src="https://kit.fontawesome.com/af71dcbfc4.js" crossorigin="anonymous"></script>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            bookList();
        });

        function heart(isbn, title, author, img_url, like) {

             if(like == "far fa-heart") {
                $('#'+ isbn).attr('class', "fas fa-heart")
                $.ajax({
                    type: "POST",
                    url: "/heart1",
                    data: {
                       'isbn': isbn,
                       'title': title,
                       'author': author,
                       'img_url': img_url,
                    },
                    success: function(response) {
                       if(response['result'] == 'success') {
                          alert("좋아요 완료");
                          location.reload();

                       }
                       else {}
                    }
                })
             }
             else {
                 $('#'+isbn).attr('class', "fas fa-heart")
                $.ajax({
                    type: "POST",
                    url: "/heart2",
                    data: {
                       'isbn': isbn,
                    },
                    success: function(response) {
                       if(response['result'] == 'success') {
                          alert("좋아요 취소 완료");
                          location.reload();
                       }
                       else {}
                    }
                })
             }


        }

        function bookList(){
            let arr = [];
            {% for isbn in isbnlist %}
            arr.push('{{isbn}}');
            {% endfor %}
            console.log(arr);

            let title, author, url, img, like, isbn,tempHtml;
            {% for item in items %}

                title= "{{item.title}}";
                author = "{{item.writer}}";
                img = "{{item.img_url}}";
                isbn = "{{item.ISBN}}"
                isbn = isbn.slice(-13) //뒤에 13자리만 가져오기

                 if(arr.includes(isbn)) {
                     like = "far fa-heart";
                 } else {
                     like = "fas fa-heart";
                 }


                tempHtml= `<div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="${img}" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">${title}</h5>
                    <p class="card-text">${author }</p>
                    <i id= "${isbn}" class="${like}" onclick="heart('${isbn}', '${title}', '${author}', '${img}', '${like}')"></i>
                </div>
            </div>
        </div>

    </div>
`
            $('.search-list').append(tempHtml);
        {% endfor %}
        }
    </script>

</head>
<body>
<h1>{{ user }} 님의 위시북 페이지 입니다</h1>


<div class="search-list">

</div>

</body>
</html>